@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*deixaremos uma informação padrão no css, para buscarmos eles depois, caso precisar*/

:root{
    --main-color: #000000;
    --text-color: #ffffff;
    --bg-color-01:#a531b4;
    --bg-color-02: #05f1c7;
    --bg-color-03: #0000001a; 
    --bg-color-04:#606cf5;


/* cores extras*/

    --color-01: #0e073f;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth; /*quando a pessoa clicar em algum item de navegação, irá descer direto e não rolando*/

}

html{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--main-color);
    color: var(--text-color);
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: solid 1px;
}


.logo{
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: 600;
    cursor: default;
}

.nav a{  /*iremos mexer somente na parte dos links e não na barra de navegação toda*/
    font-size: 0.9rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;



}


.nav a:hover{
    color: var(--bg-color-04);
}

section{
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
    border: solid 1px var(--text-color);   /*colocamos a borda em cada section para dividirmos melhor aquilo que iremos mexer. */

}

span{
    color: var(--bg-color-04);

}

/*instalar a extensão: prettier (formatação de código), vscodeicon (reconhece as pastas e suas respectivas linguagens).*/


.home, .about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home-img{
    border-right: solid 0.6rem var(--bg-color-04);
    border-bottom: solid 0.6rem var(--bg-color-04);
    border-image: linear-gradient(135deg,transparent 50%, var(--color-01)) 1;
}

.home-img img, .about-img img{
    width: 100%;
}


.about-img{
    border-right: solid 0.6rem var(--bg-color-04);
    border-bottom: solid 0.6rem var(--bg-color-04);
    border-image: linear-gradient(250deg,transparent 50%, var(--color-01)) 1;
}

.about{
    background-color: rgb(17, 17, 17);
}


.home-content, .about-content{
    width: 35%;
}


.home-content h3, .about-content h3{
    font-weight: 700;
    font-size: 1.6rem;
}

.home-content h1, .about-content h1{
    font-size: 3rem;
    line-height: 2.7rem;
}

.home-content p, .about-content p{
    margin top: 1.2rem;
    text-align: justify;
}

.services h2,
.portfolio h2,
.contact h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.services-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
    gap: 1.2rem;
}

.services-container .services-box{
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-04);
    background-color: var(--bg-color-03);
    transition: 0.5s ease;
}


.services-container .services-box{
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-04);
    background-color: var(--bg-color-03);
    transition: 0.5s ease;
}


.services-container .services-box:hover{
    border-color: var(--color-01);
    transform: scale(1.01);
}
.services-box i{
    font-size: 4.3rem;
    color: var(--bg-color-04)
}

.services-box h3{
    font-size: 1.5rem;
}

.services-box p{
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    /* tomar cuidado com o n° de linhas*/
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ===========>botão*/

.btn{
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--bg-color-04);
    color: azure;
    font-weight: 600;
    border-radius: 2rem;
    letter-spacing: 0.1rem;
    transition: 0.3 ease;
    margin-top: 1.2rem;
}

.btn:hover{
    box-shadow: 0 0 0.3rem var(--text-color);
    background-color: inherit;
    color: #606cf5;
    cursor: pointer;
}

/* ===========>botão*/

.portfolio{
    background-color: rgb(27, 27, 27)
}

.portfolio-container{
    display: flex; /*modelo de grade e definidos*/
    gap: 1.2rem;
}

.portfolio-box{
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem rgb(41, 41, 41);
    
}

.portfolio-box img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5 ease;
}


.portfolio-box img:hover{
    transform: scale(1.1);
}



.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient (var(--bg-color-04));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(10rem);
    transition: 0.5 ease;
}

.portfolio-box .portfolio-layer{
    transform: translateY(0);
}


.portfolio-layer h4{
    font-size: 1.2rem;
    color: var(--bg-color-04);
}

.portfolio-layer a i{
    font-size: 1.8rem;
}

.portfolio-layer p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

